* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  
  /* ヘッダー */
  font-family: "Gideon Roman",
  "Noto Serif JP";
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4%;
  color: #f9f4f4;
  background-color: #860000;
}

.header {
  
}